@font-face {
  font-family: "HelveticaNeueLTStd-LtCn";
  src: url('../fonts/HelveticaNeueLTStd-LtCn.eot?1428499368');
  src: url('../fonts/HelveticaNeueLTStd-LtCn.eot?&1428499368#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-LtCn.otf?1180608826') format('opentype'), url('../fonts/HelveticaNeueLTStd-LtCn.woff?1428499368') format('woff'), url('../fonts/HelveticaNeueLTStd-LtCn.svg?1428499368') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueLTStd-BdCn";
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?1437036593');
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?&1437036593#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-BdCn.otf?1180608808') format('opentype'), url('../fonts/HelveticaNeueLTStd-BdCn.woff?1437036593') format('woff'), url('../fonts/HelveticaNeueLTStd-BdCn.svg?1437036593') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueLTStd-Cn";
  src: url('../fonts/HelveticaNeueLTStd-Cn.eot?1437476356');
  src: url('../fonts/HelveticaNeueLTStd-Cn.eot?&1437476356#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Cn.otf?1188187708') format('opentype'), url('../fonts/HelveticaNeueLTStd-Cn.woff?1437476356') format('woff'), url('../fonts/HelveticaNeueLTStd-Cn.svg?1437476356') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/OpenSans-Regular.eot?1428508340');
  src: url('../fonts/OpenSans-Regular.eot?&1428508340#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.otf?1428508400') format('opentype'), url('../fonts/OpenSans-Regular.woff?1428508340') format('woff'), url('../fonts/OpenSans-Regular.svg?1428508340') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url('../fonts/OpenSans-Light.eot?1432353222');
  src: url('../fonts/OpenSans-Light.eot?&1432353222#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.otf?1432353216') format('opentype'), url('../fonts/OpenSans-Light.woff?1432353222') format('woff'), url('../fonts/OpenSans-Light.svg?1432353222') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "Redressed";
  src: url('../fonts/Redressed.eot?1437036635');
  src: url('../fonts/Redressed.eot?&1437036635#iefix') format('embedded-opentype'), url('../fonts/Redressed.otf?1437036619') format('opentype'), url('../fonts/Redressed.woff?1437036635') format('woff'), url('../fonts/Redressed.svg?1437036635') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "FuturaStd-Condensed";
  src: url('../fonts/FuturaStd-Condensed.eot?1437036539');
  src: url('../fonts/FuturaStd-Condensed.eot?&1437036539#iefix') format('embedded-opentype'), url('../fonts/FuturaStd-Condensed.otf?1187741592') format('opentype'), url('../fonts/FuturaStd-Condensed.woff?1437036539') format('woff'), url('../fonts/FuturaStd-Condensed.svg?1437036539') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "FuturaStd-Light";
  src: url('../fonts/FuturaStd-Light.eot?1437190611');
  src: url('../fonts/FuturaStd-Light.eot?&1437190611#iefix') format('embedded-opentype'), url('../fonts/FuturaStd-Light.otf?1187741592') format('opentype'), url('../fonts/FuturaStd-Light.woff?1437190611') format('woff'), url('../fonts/FuturaStd-Light.svg?1437190611') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "FuturaStd-Medium";
  src: url('../fonts/FuturaStd-Medium.eot?1437036539');
  src: url('../fonts/FuturaStd-Medium.eot?&1437036539#iefix') format('embedded-opentype'), url('../fonts/FuturaStd-Medium.otf?1187741592') format('opentype'), url('../fonts/FuturaStd-Medium.woff?1437036539') format('woff'), url('../fonts/FuturaStd-Medium.svg?1437036539') format('svg');
  font-weight: normal;
}
body {
  padding-top: 60px;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 991px) {
  body {
    padding-top: 74px !important;
  }
}
body .site-text {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 16px;
}
body a {
  display: inline-block;
}
body a:focus, body a:active, body a:hover {
  outline: none !important;
}
body a:hover {
  text-decoration: none;
}

.custom-responsive {
  width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.full-width > .row {
  margin-left: 0;
  margin-right: 0;
}

.hover-transition {
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}

.clear-margin {
  margin: 0 !important;
}

.clear-padding {
  padding: 0 !important;
}

.needed-margin {
  margin-top: 40px;
}

.site-alerts {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 15px;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 18px;
  background: transparent;
  border: 1px solid #18191d;
  border-radius: 0;
}
.site-alerts.alert-success {
  color: #18191d;
}
.site-alerts strong {
  font-weight: normal;
}
.site-alerts .alert-link {
  float: right;
  margin-right: 15px;
  color: #18191d;
  vertical-align: top;
}
.site-alerts .close {
  color: #18191d;
  font-family: HelveticaNeueLTStd-BdCn, sans-serif;
  font-size: 21px;
  opacity: 0.6;
}
.site-alerts .close:hover {
  color: #18191d;
  opacity: 1;
}

.table-margin-top {
  margin-top: 20px;
}

.form-control {
  border-radius: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #18191d;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* ./Underline From Center */
/* Underline From Center White*/
.hvr-underline-from-center-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-white:hover:before,
.hvr-underline-from-center-white:focus:before,
.hvr-underline-from-center-white:active:before {
  left: 0;
  right: 0;
}

/* ./Underline From Center */
.section-title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section-title.bordered {
  padding-left: 15px;
  border-bottom: 1px solid #ebebeb;
}
.section-title.side-title:before {
  content: '';
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 10%;
  width: 4px;
  background: #ebebeb;
}
.section-title.clear-margin .title {
  margin-top: 10px;
}
.section-title .title {
  color: #18191d;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
}
.section-title .subtitle {
  color: #18191d;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 18px;
}

.dark-title {
  position: relative;
  float: left;
  width: 100%;
  margin: 40px 0;
  padding: 5px 0;
  background-color: #18191d;
}
.dark-title.error-dark-title {
  margin-top: 0;
}
.dark-title .line-divider {
  position: relative;
  float: left;
  width: 100%;
  height: 4px;
  background-color: #efd881;
}
.dark-title h3 {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 36px;
  color: #efd881;
}
@media screen and (max-width: 767px) {
  .dark-title h3 {
    font-size: 24px;
  }
}

.chosen-container-single .chosen-single {
  border-radius: 0;
  line-height: 32px;
  height: 34px;
}

.chosen-container-single .chosen-single div b {
  background: transparent url("chosen-sprite.png") no-repeat scroll 0 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 6px;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #18191d;
  background-image: -webkit-linear-gradient(#666666 20%, #18191d 90%);
  background-image: linear-gradient(#666666 20%, #18191d 90%);
  color: #fff;
}

.page-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #18191d;
  z-index: 1100;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 991px) {
  .page-navigation {
    height: 74px;
    border-bottom: 5px solid #efd881;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  }
  .page-navigation > * {
    -webkit-transition: all linear 0.2s;
            transition: all linear 0.2s;
  }
  .page-navigation .logo-wrapper {
    width: 115px;
  }
  .page-navigation .sign-search > div {
    height: 100%;
    float: left;
  }
  .page-navigation .nav-socials,
  .page-navigation .shop-cart {
    float: left;
    height: 100%;
  }
  .page-navigation .shop-cart,
  .page-navigation .sign-trigger,
  .page-navigation .signed,
  .page-navigation .search-btn {
    line-height: 70px;
  }
  .page-navigation .sign-wrapper a,
  .page-navigation .search-wrapper a {
    display: block;
    height: 100%;
  }
}
@media screen and (max-width: 490px) {
  .page-navigation .sign-search,
  .page-navigation .socials-cart {
    width: 116px;
    height: 50% !important;
  }
  .page-navigation .sign-search a,
  .page-navigation .socials-cart a {
    line-height: 35px;
  }
  .page-navigation .socials-cart {
    clear: right;
  }
  .page-navigation .shop-cart {
    line-height: 35px;
  }
}
.page-navigation .container-fluid {
  padding-right: 0;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .page-navigation .container-fluid {
    padding-left: 5px;
  }
}
.page-navigation .container-fluid > div {
  height: 100%;
}

.small-nav {
  height: 60px;
  border-bottom: 5px solid #efd881;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
.small-nav > * {
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (max-width: 991px) {
  .small-nav .navigation {
    top: 55px;
  }
}
.small-nav .sign-search > div {
  height: 100%;
}
.small-nav .shop-cart {
  height: 100%;
}
.small-nav .sign-wrapper,
.small-nav .sign-trigger,
.small-nav .nav-socials {
  display: none;
}
.small-nav .nav-link {
  line-height: 55px;
}
.small-nav .user-options {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .small-nav .shop-cart,
  .small-nav .sign-trigger,
  .small-nav .search-btn {
    line-height: 55px;
  }
  .small-nav .cart-content {
    top: 55px;
  }
  .small-nav .menu-trigger .fa {
    line-height: 55px;
  }
}
@media screen and (max-width: 490px) {
  .small-nav .socials-cart {
    display: none;
  }
  .small-nav .sign-search {
    width: auto;
    height: 100% !important;
  }
  .small-nav .search-btn {
    line-height: 55px !important;
  }
}

.logo-wrapper {
  position: relative;
  float: left;
  width: auto;
  margin-right: 10px;
  padding: 5px 0;
}

.brand-logo {
  position: relative;
  float: left;
  width: auto;
  display: block;
  height: 100%;
}
.brand-logo img {
  height: 100%;
}

.sign-search,
.socials-cart {
  position: relative;
  float: right;
  width: auto;
  height: 100%;
}

.sign-search {
  background-color: #fff;
}
.sign-search > div {
  height: 50%;
  text-align: center;
}

.sign-trigger,
.search-btn {
  padding: 0 25px;
  line-height: 55px;
  color: #9fa4a6;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .sign-trigger,
  .search-btn {
    padding: 0 15px;
  }
}
.sign-trigger:hover,
.search-btn:hover {
  color: #fff;
  background-color: #222325;
}

.sign-trigger {
  font-family: FuturaStd-Condensed, sans-serif;
  font-size: 14px;
}

.signed {
  padding: 0 20px;
  font-family: FuturaStd-Condensed, sans-serif;
  font-size: 14px;
  line-height: 55px;
  color: #9fa4a6;
}
@media screen and (max-width: 1199px) {
  .signed {
    padding: 0 10px;
  }
}
.signed.open, .signed:hover {
  color: #fff;
  background-color: #222325;
}
.signed:focus {
  text-decoration: none;
}
.signed .fa {
  font-size: 18px;
  color: #9fa4a6;
}

.search-btn {
  font-size: 1.4em;
}

.socials-cart {
  background-color: #222325;
  border-right: 1px solid #18191d;
}

.nav-socials,
.shop-cart {
  margin: 0;
  padding: 0 10px;
  height: 50%;
  line-height: 55px;
  text-align: center;
}

.nav-socials {
  border-bottom: 1px solid #18191d;
}
.nav-socials li {
  padding: 0;
}
.nav-socials a {
  display: inline-block;
  font-size: 18px;
}
.nav-socials .fa {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 6px;
}
.nav-socials .fa:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  background-color: #18191d;
}

.shop-cart {
  color: #9fa4a6;
  cursor: pointer;
  font-family: FuturaStd-Condensed, sans-serif;
  font-size: 13px;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.shop-cart:hover {
  background: #18191d;
}
.shop-cart:hover .fa {
  color: #efd881;
}
.shop-cart:hover strong {
  color: #efd881;
}
.shop-cart.open {
  background: #18191d;
}
.shop-cart.open .fa {
  color: #efd881;
}
.shop-cart.open strong {
  color: #efd881;
}
.shop-cart .fa {
  font-size: 18px;
}
.shop-cart p {
  margin-bottom: 0;
}
.shop-cart strong {
  margin: 0 4px;
  color: #fff;
}

.user-options {
  display: none;
  position: absolute;
  right: 0;
  width: 310px;
  height: auto !important;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  z-index: 1001;
}
@media screen and (max-width: 991px) {
  .user-options {
    top: 69px;
  }
}
.user-options p {
  padding: 0 10px;
  text-align: left;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
  color: #666;
}
.user-options .site-btn {
  padding: 8px 15px;
}

.logout-btn {
  color: #9fa4a6;
  text-decoration: underline;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.logout-btn:hover {
  color: red;
  text-decoration: underline;
}

.navigation {
  position: relative;
  float: left;
  width: auto;
  margin: 0;
  padding-left: 2px;
  height: 100%;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
@media screen and (min-width: 992px) {
  .navigation {
    display: block !important;
  }
}
@media screen and (max-width: 991px) {
  .navigation {
    display: none;
    position: absolute;
    z-index: 1000;
    height: auto;
    top: 69px;
    left: 20px;
    padding: 0;
    border: 1px solid #424448;
  }
}
.navigation > li {
  margin-left: -4px;
  padding: 0;
  border-right: 1px solid #424448;
}
@media screen and (max-width: 991px) {
  .navigation > li {
    display: block;
    margin: 0;
    background: #18191d;
    border-right: 0;
    border-bottom: 1px solid #424448;
  }
}
.navigation > li:first-child {
  border-left: 1px solid #424448;
  border-left: 0;
}
.navigation > li:last-child {
  border-bottom: 0;
}

.active .nav-link {
  background-color: #222325;
  color: #fff;
}

.nav-link {
  display: block;
  padding: 0 15px;
  color: #fff;
  font-family: FuturaStd-Light, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 110px;
}
@media screen and (max-width: 1199px) {
  .nav-link {
    padding: 0 10px;
  }
}
@media screen and (max-width: 991px) {
  .nav-link {
    padding: 5px 20px;
    line-height: 2.6 !important;
  }
}
.nav-link:hover {
  background-color: #222325;
  color: #fff;
}

.menu-trigger {
  margin-right: 10px;
}
.menu-trigger .fa {
  line-height: 70px;
}
.menu-trigger:hover .fa, .menu-trigger.open .fa {
  color: #efd881;
}

.page-footer {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 30px;
}
.page-footer .logo-wrapper {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.socials-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.footer-socials {
  margin: 0 0 20px;
}
.footer-socials .fa {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding-top: 4px;
  color: #222325;
  font-size: 24px;
}
.footer-socials .fa:hover {
  box-shadow: 0 0 8px rgba(34, 35, 37, 0.8);
}

.menu-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.footer-menu {
  margin: 0 0 20px;
}
.footer-menu > li {
  padding: 0 20px;
}
@media screen and (max-width: 540px) {
  .footer-menu > li {
    padding: 0 10px;
  }
}
@media screen and (max-width: 460px) {
  .footer-menu > li {
    display: block;
    padding: 5px 10px;
  }
}
.footer-menu a {
  display: inline-block;
  font-family: FuturaStd-Light, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #18191d;
}
.footer-menu a:hover, .footer-menu a:focus {
  text-decoration: none;
}

.footer-email {
  font-family: OpenSans-Light, sans-serif;
  font-size: 14px;
  color: #666;
}
.footer-email:hover, .footer-email:focus {
  color: #666;
}

.dark-strip {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 15px;
  background-color: #18191d;
}
.dark-strip p {
  margin: 0;
  color: #9fa4a6;
}
.dark-strip a {
  color: #9fa4a6;
}
@media screen and (max-width: 767px) {
  .dark-strip > div {
    width: 100%;
  }
}
.dark-strip .address-info {
  margin-top: 5px;
  font-family: OpenSans-Light, sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .dark-strip .address-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.dark-strip .address-info a {
  margin-left: 5px;
  vertical-align: top;
}
.dark-strip .copyright-info {
  margin-top: 6px;
  font-size: 12px;
}
.dark-strip .copyright-info a {
  margin-right: 5px;
  vertical-align: top;
}

.back-top {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .back-top {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.back-top .fa {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  vertical-align: top;
}
.back-top .fa:hover {
  box-shadow: 0 0 8px #fff;
}

.content-header {
  position: relative;
  float: left;
  width: 100%;
  background: #333 url('../imgs/line-diag.gif?1437462968') repeat;
}
@media screen and (min-width: 992px) {
  .content-header {
    margin-top: 50px;
  }
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 30px 0;
}
.flex-wrapper .page-title,
.flex-wrapper .breadcrumb {
  margin: 0;
}
.flex-wrapper .page-title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 36px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .flex-wrapper .page-title {
    font-size: 24px;
  }
}
.flex-wrapper .breadcrumb {
  background-color: transparent;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
}
.flex-wrapper .breadcrumb a {
  color: #fff;
  vertical-align: bottom;
}
.flex-wrapper .breadcrumb .active {
  color: #fff;
}
.flex-wrapper .breadcrumb .active:before {
  content: '\f105';
  font-family: FontAwesome;
}
.flex-wrapper .breadcrumb li + li:before {
  content: '\f105';
  font-family: FontAwesome;
}

.form-control {
  border-radius: 0;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
}
.form-control:focus {
  border-color: #efd881;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 216, 129, 0.6);
}

.check-out-form label {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #666;
}

.contact-form label {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #666;
}

.shopping-cart-form {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .shopping-cart-form .table-responsive {
    margin-top: 20px;
  }
}

.range-slider .text-label {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 18px;
  color: #18191d;
}
.range-slider .price-range {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 14px;
  color: #666;
}

.login-form,
.recover-form,
.register-form {
  display: inline-block;
  max-width: 100%;
  width: 700px;
  text-align: left;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
}
.login-form label,
.recover-form label,
.register-form label {
  font-weight: normal;
}

.table-responsive {
  position: relative;
  float: left;
  width: 100%;
}

#orders-table th {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #18191d;
}
#orders-table td {
  padding: 30px 5px;
  vertical-align: middle;
  text-align: center;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  color: #666;
}
#orders-table td.order {
  font-size: 22px;
  color: #18191d;
}
#orders-table td.date, #orders-table td.payment {
  font-size: 16px;
}
#orders-table td.total {
  font-size: 20px;
  font-weight: bold;
  color: #18191d;
}
#orders-table tfoot td {
  padding: 10px 5px;
}
#orders-table tfoot p {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 15px;
  max-width: 50%;
}
@media screen and (max-width: 767px) {
  #orders-table tfoot p {
    max-width: 100%;
  }
}

#order-details th,
#order-details td {
  vertical-align: middle;
}
#order-details th {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #18191d;
}
#order-details th.total {
  font-size: 18px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
}
#order-details td {
  padding: 30px 5px;
}
#order-details .products {
  text-align: left;
}
#order-details .products a {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  color: #666;
}
#order-details .total {
  text-align: center;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#my-orders {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 40px;
}
#my-orders th,
#my-orders td {
  vertical-align: middle;
  text-align: center;
}
#my-orders th {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #18191d;
}
#my-orders tbody td {
  padding-top: 30px;
  padding-bottom: 30px;
}
#my-orders.my-cart tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}
#my-orders .close-btn {
  font-size: 26px;
  color: #9fa4a6;
}
#my-orders .close-btn .fa {
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
#my-orders .close-btn .fa:hover {
  color: #18191d;
}
#my-orders .order {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 20px;
  color: #18191d;
}
#my-orders .date,
#my-orders .status {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
  color: #9fa4a6;
}
#my-orders .total p {
  margin-bottom: 0;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
}
#my-orders .total .amount {
  font-size: 20px;
  font-weight: bold;
  color: #18191d;
}
#my-orders .total .small {
  font-size: 14px;
  color: #9fa4a6;
}
#my-orders [type="number"] {
  display: inline-block;
  max-width: 80px;
}
#my-orders .product {
  text-align: left;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  color: #18191d;
}
#my-orders .product img {
  margin-right: 10px;
}
#my-orders .price {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}
#my-orders .total-amount {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #18191d;
}

.site-btn {
  border-radius: 0;
  padding: 8px 30px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #18191d;
  background-color: #efd881;
  border-color: #efd881;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.site-btn:focus, .site-btn:active, .site-btn:hover {
  outline: none !important;
}
.site-btn:hover, .site-btn:focus, .site-btn:active, .site-btn:active:focus {
  color: #fff;
  background-color: #222325;
  border-color: #222325;
}
.site-btn.inverse {
  color: #fff;
  background-color: #222325;
  border-color: #222325;
}
.site-btn.inverse:hover, .site-btn.inverse:focus, .site-btn.inverse:active, .site-btn.inverse:active:focus {
  color: #18191d;
  background-color: #efd881;
  border-color: #efd881;
}

#main-carousel {
  position: relative;
  float: left;
  width: 100%;
  margin: 50px 0 0;
}
@media screen and (max-width: 991px) {
  #main-carousel {
    margin: 0;
  }
}

.main-slide {
  position: relative;
}

.slide-text {
  position: absolute;
  top: 20%;
  left: 40%;
  color: #fff;
  z-index: 100;
}
@media screen and (max-width: 1199px) {
  .slide-text {
    top: 10%;
  }
}
@media screen and (max-width: 767px) {
  .slide-text {
    top: auto;
    left: 10%;
    right: 10%;
    bottom: 15px;
  }
}
.slide-text > p {
  margin: 0;
}
.slide-text .cursive {
  font-family: Redressed, sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1199px) {
  .slide-text .cursive {
    font-size: 4vw;
  }
}
@media screen and (max-width: 490px) {
  .slide-text .cursive {
    font-size: 6vw;
  }
}
.slide-text .big {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 80px;
  line-height: 1;
}
@media screen and (max-width: 1199px) {
  .slide-text .big {
    font-size: 6vw;
  }
}
@media screen and (max-width: 490px) {
  .slide-text .big {
    font-size: 8vw;
  }
}
.slide-text .fancy {
  font-family: HelveticaNeueLTStd-BdCn, sans-serif;
  font-size: 46px;
}
@media screen and (max-width: 1199px) {
  .slide-text .fancy {
    font-size: 4vw;
  }
}
@media screen and (max-width: 490px) {
  .slide-text .fancy {
    font-size: 6vw;
  }
}
.slide-text .fancy img {
  display: inline-block;
  vertical-align: middle;
}
.slide-text .fancy .left {
  margin-right: 10px;
}
.slide-text .fancy .right {
  margin-left: 10px;
}
@media screen and (max-width: 490px) {
  .slide-text .fancy .left,
  .slide-text .fancy .right {
    display: none;
  }
}

.big-trend-carousel {
  position: relative;
  float: left;
  width: 38%;
  margin-bottom: 0;
  overflow-y: hidden;
}
@media screen and (max-width: 490px) {
  .big-trend-carousel {
    width: 100%;
    height: auto !important;
  }
}

.trend-item {
  position: relative;
}
@media screen and (min-width: 490px) {
  .trend-item .hover-content {
    display: none !important;
  }
}

.small-trend-carousel {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.small-trend-carousel .nav-item {
  position: relative;
  cursor: pointer;
}

.product-list {
  padding: 0 40px;
}
@media screen and (max-width: 490px) {
  .product-list {
    padding: 0 10px;
  }
}

.arrows {
  display: block;
  position: absolute;
  width: auto;
  top: 50%;
  padding: 5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.arrows.arrow-left {
  left: 5px;
}
@media screen and (max-width: 490px) {
  .arrows.arrow-left {
    left: -10px;
  }
}
.arrows.arrow-right {
  right: 5px;
}
@media screen and (max-width: 490px) {
  .arrows.arrow-right {
    right: -10px;
  }
}

.cart-content {
  display: none;
  position: absolute;
  right: 0;
  width: 310px;
  max-height: 360px;
  overflow-y: auto;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 991px) {
  .cart-content {
    top: 70px;
  }
}
@media screen and (max-width: 490px) {
  .cart-content {
    top: 35px;
  }
}
.cart-content .subtotal {
  padding: 10px 15px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 15px;
  color: #666;
}
.cart-content .subtotal strong {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
  color: #18191d;
}

.btns-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #9fa4a6;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.delete-btn:hover {
  color: #18191d;
}

.parallax-section {
  position: relative;
  float: left;
  width: 100%;
}

.parallax-banner {
  padding: 0 20px 60px;
  color: #fff;
  background-color: #18191d;
}
.parallax-banner .top-strip {
  margin: 10px -20px 60px;
  height: 40px;
  background-color: #efd881;
}
.parallax-banner .main-text {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 42px;
}
@media screen and (max-width: 490px) {
  .parallax-banner .main-text {
    font-size: 28px;
  }
}
.parallax-banner .site-logo {
  margin: 15px 0;
}
.parallax-banner .description {
  margin-bottom: 30px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 12px;
}

.fancy-subtitle {
  font-family: Redressed, sans-serif;
  font-size: 28px;
  font-style: italic;
  color: #efd881;
}
@media screen and (max-width: 490px) {
  .fancy-subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 840px) {
  .home-parallax-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-parallax-banner {
  position: relative;
  float: right;
  width: 40%;
}
@media screen and (max-width: 1100px) {
  .home-parallax-banner {
    width: 50%;
  }
}
@media screen and (max-width: 840px) {
  .home-parallax-banner {
    margin: 30px 0;
    max-width: 90%;
    width: 500px;
  }
}

.error-parallax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px;
}

.error-parallax-banner {
  padding: 20px 40px 40px;
  background-color: rgba(255, 255, 255, 0.75);
}
.error-parallax-banner h3 {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 36px;
  color: #18191d;
}
.error-parallax-banner p {
  margin-bottom: 0;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 22px;
  color: #666;
}

.product-parallax {
  margin-top: 60px;
  margin-bottom: 40px;
  min-height: 640px;
}

.product-parallax-banner {
  position: absolute;
  right: 50%;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .product-parallax-banner {
    right: 10%;
  }
}

.login-parallax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  margin-bottom: 50px;
  height: 550px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991px) {
  .login-parallax {
    height: 250px;
    padding: 0 15px;
  }
}

.product-list {
  position: relative;
  float: left;
  width: 100%;
}

.item-wrapper {
  position: relative;
  float: left;
  width: 100%;
  padding: 0 10px;
}

.product-item {
  position: relative;
  float: left;
  width: 100%;
  border: 1px solid #ebebeb;
}
.product-item a {
  display: block;
}
.product-item a > img {
  border: 15px solid #f4f4f4;
}

.sale-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}

.hover-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 767px) {
  .hover-content {
    display: block !important;
    height: auto !important;
    padding: 0 15px 15px !important;
  }
}
.hover-content .name {
  position: relative;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.hover-content .name:before {
  content: '';
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  height: 1px;
  background-color: #9fa4a6;
}
.hover-content .see-more {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  color: #9fa4a6;
}
.hover-content .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.hover-content .small-btn {
  padding: 4px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #666;
}
.hover-content .small-btn:hover {
  background-color: #efd881;
}
.hover-content .price {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.hover-content .fa {
  color: #9fa4a6;
}
.hover-content .fa:hover {
  cursor: pointer;
  color: #efd881;
}
.hover-content .fa.fa-star {
  color: #efd881;
}
.hover-content ul {
  margin: 0;
}
.hover-content li:first-child {
  border-right: 1px solid #9fa4a6;
}

.search-panel {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 15px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 1101;
}
@media screen and (max-width: 991px) {
  .search-panel {
    padding: 10px 15px;
  }
}
.search-panel [role="button"] {
  margin-top: 10px;
  color: #18191d;
}

.input-wrapper {
  display: inline-block;
  width: 60%;
}
@media screen and (max-width: 767px) {
  .input-wrapper {
    width: 90%;
  }
}
.input-wrapper .form-control {
  font-size: 28px;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #18191d;
}
.input-wrapper .form-control:focus {
  box-shadow: none;
}
.input-wrapper .input-group-btn {
  border-bottom: 1px solid #18191d;
}
.input-wrapper button {
  background: none;
  border: 0;
  border-radius: 0;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.input-wrapper button:hover {
  background: #efd881;
  border: 0;
}

.tabs-section {
  margin: 60px 0 40px;
}
@media screen and (max-width: 767px) {
  .tabs-section {
    margin: 20px 0;
  }
}

[role="tablist"] {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 490px) {
  [role="tablist"] li {
    display: block;
    margin-bottom: 5px;
  }
}
[role="tablist"] .active .site-btn:focus {
  color: #18191d;
  background-color: #efd881;
  border-color: #efd881;
}
[role="tablist"] .site-btn {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  [role="tablist"] .site-btn {
    padding: 8px 10px;
    font-size: 18px;
  }
}
@media screen and (max-width: 490px) {
  [role="tablist"] .site-btn {
    padding: 4px 10px;
    min-width: 200px;
  }
}

.tab-content {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .tab-content {
    margin-top: 20px;
  }
}
.tab-content .tab-pane {
  position: relative;
  float: left;
  width: 100%;
}

.seasons-trend .wrapper {
  position: relative;
  float: left;
  width: 62%;
}
@media screen and (max-width: 490px) {
  .seasons-trend .wrapper {
    width: 100%;
  }
}
.seasons-trend .header {
  position: relative;
  float: left;
  width: 100%;
  padding: 45px 0;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 50px;
  color: #efd881;
  background-color: #222325;
}
@media screen and (max-width: 690px) {
  .seasons-trend .header {
    padding: 20px 0;
    font-size: 32px;
  }
}

.fancy-banners {
  position: relative;
  float: left;
  width: 100%;
  padding: 2px;
  background: #18191d;
}
.fancy-banners > div {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 2px;
}
@media screen and (max-width: 490px) {
  .fancy-banners > div {
    width: 100%;
  }
}
.fancy-banners a {
  display: block;
}

.about-text {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 18px;
  color: #666;
}
@media screen and (max-width: 767px) {
  .about-text {
    text-align: justify;
  }
}

.about-banner {
  position: relative;
  float: left;
  width: 100%;
}
.about-banner > div {
  position: relative;
  float: left;
  width: 100%;
}

.banner-info {
  margin-top: 40px;
}
.banner-info .parallax-banner {
  padding: 5px 0;
}
.banner-info .top-strip {
  margin-left: 0;
  margin-right: 0;
}
.banner-info .description {
  margin-top: 30px;
  font-size: 14px;
}
.banner-info .description p {
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.banner-info .description a {
  color: #fff;
}

.banner-images > div {
  position: relative;
  float: left;
  width: 50%;
}
@media screen and (max-width: 460px) {
  .banner-images > div {
    width: 100%;
  }
}

.fancy-woman {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  height: 680px;
}
@media screen and (max-width: 1199px) {
  .fancy-woman {
    height: 580px;
  }
}
@media screen and (max-width: 991px) {
  .fancy-woman {
    height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .fancy-woman {
    height: auto;
    padding-bottom: 100px;
  }
}
.fancy-woman .section-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 250px;
  background-color: #18191d;
}
@media screen and (max-width: 991px) {
  .fancy-woman .section-bg {
    min-height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .fancy-woman .section-bg {
    min-height: 80px;
  }
}
.fancy-woman .section-bg .strip {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background-color: #efd881;
}
@media screen and (max-width: 767px) {
  .fancy-woman .section-bg .strip {
    margin-top: 10px;
    height: 20px;
  }
}
.fancy-woman .container,
.fancy-woman .row,
.fancy-woman [class^="col-"] {
  position: relative;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .fancy-woman .container,
  .fancy-woman .row,
  .fancy-woman [class^="col-"] {
    height: auto;
  }
}
.fancy-woman .section-title {
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  .fancy-woman .section-title {
    margin-top: 20px;
  }
}

.pretty-woman {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.about-founder {
  position: relative;
  float: left;
  width: 100%;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  color: #666;
}
@media screen and (max-width: 767px) {
  .about-founder {
    text-align: justify;
  }
}
.about-founder a {
  margin-right: 15px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #18191d;
}

.orders-list {
  position: relative;
  float: left;
  width: 100%;
}

.order-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 15px 10px;
}
.order-item:nth-child(2n) {
  background-color: #f4f4f4;
}
.order-item:hover .delete-btn {
  display: block;
}
.order-item .related-info {
  margin-left: 15px;
}
.order-item .header-text {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 18px;
  color: #18191d;
}
.order-item .price {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.cart-totals {
  position: relative;
  float: left;
  width: 100%;
}
.cart-totals li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-totals li:nth-child(2n) {
  background-color: #f4f4f4;
}
.cart-totals .caption-text {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 15px;
  color: #666;
}
.cart-totals .price {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #18191d;
}
.cart-totals .price-text {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 12px;
  color: #18191d;
}

.accept-terms {
  position: relative;
  float: left;
  width: 100%;
}
.accept-terms a {
  color: #efd881;
}

.has-questions {
  position: relative;
  float: left;
  width: 100%;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 15px;
  color: #18191d;
  text-align: center;
}
.has-questions a {
  color: #18191d;
}
.has-questions .colored {
  margin-right: 5px;
  color: #efd881;
}

.customer-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 60px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .customer-details {
    margin-bottom: 0;
  }
}
.customer-details > div {
  width: 200px;
}
@media screen and (max-width: 420px) {
  .customer-details > div {
    width: 100%;
  }
}
.customer-details .details {
  font-size: 15px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  color: #666;
}
.customer-details .details strong {
  margin-right: 4px;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  color: #18191d;
}
.customer-details .details a {
  color: #666;
}

.billing-detail {
  padding: 5px 10px;
}
.billing-detail .underline-subtitle {
  position: relative;
  margin-bottom: 15px;
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
.billing-detail .underline-subtitle:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 3px;
  background-color: #efd881;
}
.billing-detail .address {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 13px;
  color: #666;
}

.address-text {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  color: #666;
}

.contact-address {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  color: #666;
}

.contact-phone {
  position: relative;
  float: left;
  width: auto;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  color: #666;
}
.contact-phone:hover {
  color: #666;
}

.faqs-page {
  margin-bottom: 40px;
}

.faqs-text {
  position: relative;
  float: left;
  width: 100%;
  margin: 60px 0 40px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 18px;
  color: #666;
}

.faqs-banner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url('../imgs/faqs-parallax.jpg?1438019086') no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .faqs-banner-wrapper {
    height: 250px;
    padding: 0 15px;
  }
}

.faqs-banner h2 {
  margin-bottom: 30px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 46px;
  color: #18191d;
}
@media screen and (max-width: 991px) {
  .faqs-banner h2 {
    font-size: 28px;
  }
}

.faqs-accordion {
  margin-bottom: 60px;
}
.faqs-accordion [data-toggle="collapse"] {
  display: block;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
  color: #666;
}
.faqs-accordion [data-toggle="collapse"]:focus {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .faqs-accordion [data-toggle="collapse"] {
    padding-left: 20px;
  }
}
.faqs-accordion .fa {
  color: #9fa4a6;
}
@media screen and (max-width: 767px) {
  .faqs-accordion .fa {
    float: left !important;
    margin-left: -20px;
  }
}
.faqs-accordion .panel-default {
  border: 0;
  box-shadow: none;
}
.faqs-accordion .panel-heading {
  background: transparent;
  border-bottom: 1px solid #ebebeb;
}
.faqs-accordion .panel-body {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;
  color: #666;
  border-top: 0 !important;
}
@media screen and (max-width: 767px) {
  .faqs-accordion .panel-body {
    text-align: justify;
  }
}

.term-page {
  padding: 40px 15px 60px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 18px;
  color: #666;
}
@media screen and (max-width: 767px) {
  .term-page {
    padding: 40px 15px 20px;
    text-align: justify;
    font-size: 16px;
  }
}
.term-page p {
  margin-bottom: 30px;
}
.term-page a {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 18px;
  vertical-align: top;
  color: #18191d;
}
@media screen and (max-width: 767px) {
  .term-page a {
    font-size: 16px;
  }
}
.term-page a:hover {
  color: #18191d;
}

.term-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #666;
}
@media screen and (max-width: 767px) {
  .term-title {
    font-size: 20px;
  }
}

.term-subtitle {
  margin-bottom: 20px;
  font-weight: bold;
}

.term-list li {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .term-list li {
    font-size: 16px;
  }
}

.product-name {
  position: relative;
  float: left;
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 34px;
  line-height: 1.8;
  color: #18191d;
}
@media screen and (max-width: 767px) {
  .product-name {
    font-size: 24px;
  }
}
.product-name:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  height: 4px;
  background-color: #efd881;
}

.product-description {
  position: relative;
  float: left;
  width: 100%;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 15px;
  color: #9fa4a6;
}

.product-details {
  position: relative;
  float: left;
  width: 100%;
}
.product-details > div {
  position: relative;
  float: left;
  width: 50%;
  padding: 5px 15px;
}
@media screen and (max-width: 490px) {
  .product-details > div {
    width: 100%;
  }
}
.product-details > div > div {
  position: relative;
  float: left;
  width: 100%;
}
.product-details .small {
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 14px;
  color: #222325;
}
.product-details .price {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 40px;
  line-height: 1;
  color: #666;
}
.product-details .sizes li {
  padding: 0;
}
.product-details .sizes span {
  display: inline-block;
  padding-top: 5px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: #efefef;
}
.product-details .sizes span.selected {
  color: #fff;
  background-color: #666;
}

.product-banner {
  position: relative;
  float: left;
  width: 100%;
}
.product-banner a {
  display: block;
  margin-bottom: 15px;
}

@media screen and (max-width: 420px) {
  .image-link-banner {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .easyzoom-wrapper {
    width: 100%;
  }
}

.product-dark-title {
  margin-top: 60px;
}

.easyzoom-flyout {
  border: 15px solid #f4f4f4;
}

.sorting-details {
  position: relative;
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 540px) {
  .sorting-details {
    display: block;
  }
}

.sort-filter {
  min-width: 230px;
}

.product-page-list [class^="col-"] {
  margin: 15px 0;
}
@media screen and (max-width: 490px) {
  .product-page-list [class^="col-"] {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .product-page-list [class^="col-"]:last-child {
    display: none;
  }
}

.sidebar-title {
  font-family: HelveticaNeueLTStd-Cn, sans-serif;
  font-size: 18px;
  color: #18191d;
}

#side-accordion {
  position: relative;
  float: left;
  width: 100%;
}
#side-accordion [role="button"] {
  display: block;
  font-family: HelveticaNeueLTStd-LtCn, sans-serif;
  font-size: 16px;
  color: #9fa4a6;
}
#side-accordion [role="button"][aria-expanded="true"] {
  color: #18191d;
}
#side-accordion [role="button"]:focus {
  text-decoration: none;
}
#side-accordion .item-count {
  position: relative;
  float: right;
  width: auto;
}
#side-accordion .panel-default {
  border-color: transparent;
}
#side-accordion .panel-heading {
  background: transparent;
  border-bottom: 1px solid #ebebeb;
}
#side-accordion .panel-body {
  border-top: 0 !important;
}
#side-accordion li {
  color: #9fa4a6;
  margin-bottom: 15px;
  padding-left: 15px;
}

.ui-slider .ui-slider-handle {
  border-radius: 50%;
  background: #fff;
}

.custom-pagination {
  margin: 30px 0 0;
}
.custom-pagination li {
  padding-top: 12px;
  width: 40px;
  height: 40px;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #18191d;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
          transition: all linear 0.2s;
}
.custom-pagination li.active {
  color: #18191d;
  background: #efd881;
}
.custom-pagination li:hover {
  color: #18191d;
  background: #efd881;
}
